.carousel img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #ffffff;
  max-width: 1208px;
  margin-top: 50px;
  height: 500px;
  border-radius: 30px;
}

.container-carousel {
  min-height: 50vh;
}
