.container-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-size: 500%;
}

.container-thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.container-thankyou form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-payment form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.container-payment form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container-payment form .row .col {
  flex: 1 1 250px;
}

.container-payment form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container-payment form .row .col .inputBox {
  margin: 15px 0;
}

.container-payment form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container-payment form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container-payment form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container-payment form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container-payment form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container-payment form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container-payment form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #a65fd5;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.container-payment form .submit-btn:hover {
  background: #c291e0;
}

.thankyou {
  margin-bottom: 20px;
}

.button-thankyou {
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(208, 171, 230);
  cursor: pointer;
}

.button-thankyou:hover {
  background-color: rgb(236, 208, 254);
}
